In [4]:
import pandas as pd

data = pd.Series([1, 2, 5, 2, 3, 3, 3, 3, 4, 4, 5])

print("The Dataset is : ")
print(data)

print("\nFrequency Table for the data : ")
print(data.value_counts())

The Dataset is :
0     1
1     2
2     5
3     2
4     3
5     3
6     3
7     3
8     4
9     4
10    5
dtype: int64

Frequency Table for the data :
3    4
2    2
5    2
4    2
1    1
dtype: int64

In [7]:
df = pd.DataFrame({'Student_Grade': ['A','B','A','B','B', 'B', 'B', 'C', 'C', 'D'],
                   'Student_Age': [18, 25, 28, 19, 30, 20, 15, 18, 29, 17],
                   'Student_Gender': ['M','F', 'M', 'F', 'F', 'M', 'M', 'F', 'F', 'F']})

print("The Dataset is : ")
print(df)

print("\nFrequency Table for the Grade in the dataset : ")
pd.crosstab(index=df['Student_Grade'], columns='count')

The Dataset is :
  Student_Grade  Student_Age Student_Gender
0             A           18              M
1             B           25              F
2             A           28              M
3             B           19              F
4             B           30              F
5             B           20              M
6             B           15              M
7             C           18              F
8             C           29              F
9             D           17              F

Frequency Table for the Grade in the dataset :

col_0          count
Student_Grade
A                  2
B                  5
C                  2
D                  1

In [8]:
print("\nFrequency Table for the Gender in the dataset : ")
pd.crosstab(index=df['Student_Gender'], columns='count')

Frequency Table for the Gender in the dataset :

col_0           count
Student_Gender
F                   6
M                   4

In [11]:
pd.crosstab(index=df['Student_Grade'], columns=df['Student_Age'])

Student_Age    15  17  18  19  20  25  28  29  30
Student_Grade
A               0   0   1   0   0   0   1   0   0
B               1   0   0   1   1   1   0   0   1
C               0   0   1   0   0   0   0   1   0
D               0   1   0   0   0   0   0   0   0

In [13]:
pd.crosstab(index=df['Student_Grade'], columns=df['Student_Gender'])

Student_Gender  F  M
Student_Grade
A               0  2
B               3  2
C               2  0
D               1  0